* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: raleway_bold;
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: open_sans_bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: raleway_semibold;
  src: url(../../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: raleway_regular;
  src: url(../../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: raleway_light;
  src: url(../../fonts/Raleway-Light.ttf);
}
.activebox {
  background-image: url(../image/Backgroun_activebox.png);
  background-size: cover;
}

.navigation nav ul li {
  display: inline;
}

.navigation nav ul {
  margin-bottom: 45px;
  margin-top: 45px;
}

.navigation nav ul li a {
  text-decoration: none;
  font-size: 13px;
  line-height: auto;
  color: #c0c1c9;
  font-family: raleway_bold;
  margin: 0px 0px 0px 48px;
}

.activebox_logo {
  padding-top: 35px;
  padding-bottom: 35px;
}

.lead_Magnet {
  text-align: center;
  margin-bottom: 175px;
}

.lead_Magnet h1 {
  text-transform: uppercase;
  font-size: 65px;
  line-height: 71px;
  color: #ffffff;
  font-family: open_sans_bold;
  padding-top: 156px;
}

.lead_Magnet p {
  padding-top: 40px;
  padding-bottom: 80px;
  font-family: raleway_regular;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}

.lead_Magnet a {
  border-radius: 3px;
  text-decoration: none;
  background-color: #e84545;
  padding: 20px 50px 20px 50px;
  font-family: raleway_semibold;
  color: #fdf3f3;
}

.size_svg {
  width: 80px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.svg_easily_customised {
  background-image: url(../image/easily_customised.svg);
}

.svg_responsive_ready {
  background-image: url(../image/responsive_ready.svg);
}

.svg_modern_design {
  background-image: url(../image/modern_design.svg);
}

.svg_clean_code {
  background-image: url(../image/clean_code.svg);
}

.svg_ready_to_ship {
  background-image: url(../image/ready_to_ship.svg);
}

.svg_download_for_free {
  background-image: url(../image/download_for_free.svg);
}

.feature {
  margin-top: 72px;
}

.team p {
  font-family: raleway_regular;
}

.name_size {
  font-size: 22px;
}

.prof-size {
  font-size: 13px;
}

.info_size {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
}

.galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.galery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.galery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.galery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.galery > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.galery > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.galery > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.galery > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.galery > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.down a {
  border-radius: 3px;
  text-decoration: none;
  background-color: #e84545;
  padding: 20px 50px 20px 50px;
  font-family: raleway_semibold;
  color: #fdf3f3;
}

.p1 {
  padding-top: 100px;
  font-family: raleway_light;
  font-size: 28px;
  line-height: 21px;
  color: #3b3e41;
}

.p2 {
  margin-top: 20px;
  padding-bottom: 40px;
  font-family: raleway_bold;
  font-size: 13px;
  line-height: 21px;
  color: #3b3e41;
  text-transform: uppercase;
}

.ready_to_start {
  margin-bottom: 100px;
}

.background_footer {
  background-image: url(../image/background_footer.png);
  background-size: cover;
}

.pad {
  padding-top: 70px;
}

.f_p {
  font-family: raleway_bold;
  color: #ffffff;
  font-size: 14px;
  line-height: auto;
}

.f_p_info {
  color: #6f728a;
  font-size: 14px;
  line-height: 22px;
}

.border_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border_i {
  border: solid 2px white;
  margin-left: 7px;
  padding: 12px 12px 12px 12px;
}

.background_footer_2 {
  background-image: url(../image/background_footer_2.png);
  background-size: cover;
}

.pad_2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.f_p_2 {
  color: #808080;
  font-family: raleway_regular;
}

.span_footer {
  color: #eaeaec;
}